@charset "UTF-8";
/* ----------------------------------------------
VARIABLES COULEURS GÉNÉRALES 
-------------------------------------------------*/
/* Polices */
:root {
  --policeTitre: "Jersey 15", ; /* La police des titres du site web */
  --policeTexte: "Bai Jamjuree"; /* La police des textes du site web */
  /* couleurs des polices */
  --couleur-titre-pale: #FFFFFF; /* Couleur des titres généraux du site */
  --couleur-texte-pale: #FFFFFF; /* Couleur du texte d'information du site */
  --font-size-xs: 0.75rem;
  --font-size-small:0.875rem;
  --font-size-md: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xl: 1.5rem;
}

/* Couleurs globales */
:root {
  --couleurBackground: #000000; /* Couleur d'arrière-plan du site */
  --couleurAccentRouge:#FF0037 ; /* Première couleur d'accent du site */
  --couleurAccentRose:#FF00DC ; /* Deuxième couleur d'accent du site */
  --couleurAccentJaune:linear-gradient(#FFF600,#FFAE00) ; /* Troisième couleur d'accent du site */
  --couleurBoiteGrise: linear-gradient(#302F2F,#000000) ; /* Couleur gradient de boîtes d'information */
}

/* -------------------------------------------------
STRUCTURE DU SITE
---------------------------------------------------- */
/* Header */
:root {
  /* --header-couleur-bg: */
  --header-couleur-texte: var(var(--couleur-texte-pale));
  --header-font-size: var(var(--font-size-large));
  --barreRecherche-couleur-texte: var(var(--couleur-texte-pale));
  --barreRecherche-couleur-bg: var(var(--couleurBoiteGrise));
  --barreRecherche-couleur-icone: var(var(--couleurAccentRouge));
}

/* Navigation */
:root {
  --nav-couleur-texte:var(var(--couleur-texte-pale));
  --nav-font-size: var(var(--font-size-large));
  --nav-couleur-bg:var(var(--couleurBackground));
}

/* Section */
/* Footer */
:root {
  --footer-couleur-bg: var(var(--couleurBackground));
  --footer-couleur-texte: var(var(--couleur-texte-pale));
  --footer-font-size: var(var(--font-size-md));
}

/*-------------------------------------------------
DESIGN
-------------------------------------------------*/
:root {
  /* NE FONCTIONNE PAS LORS DE L'UTILISATION */
  --boxShadowAccentRouge: 3px var(--couleurAccentRouge, 0.4) ;
  --boxShadowAccentRose: 3px var(--couleurAccentRose, 0.4) ;
  --boxShadowAccentJaune: 3px var(--couleurAccentJaune, 0.4) ;
}

.barreRecherche {
  /* Couleur de la barre de recherche */
  /*background-color: var(--couleurAccentRouge); */
  color: var(--couleurBackground);
  /* Forme de la barre de recherche */
  height: 25px;
  border-radius: 5px;
  /* NE FONCTIONNE PAS */
  box-shadow: var(--boxShadowAccentRose);
}

.menuBoiteGlobale {
  background-color: var(--couleurAccentJaune);
}

.boutonNoir {
  background-color: var(--couleurBackground);
  padding: 1.5rem;
}

.boutonCouleur {
  background-color: var(--couleurAccentRouge);
}

/*-------------------------------------------------
MÉDIAS
---------------------------------------------------*/
/* -------------------------------------------------
ANIMATIONS
---------------------------------------------------*//*# sourceMappingURL=main.css.map */