.aproposMain{
  display: flex;
  flex-direction: column;
}

.titreApropos{
  color: --couleur-titre-pale;
  text-align: center;
  font-family: "Jersey 15";
  font-size: 4rem;
  text-align: center;
}

.infosaPropos{
  h3{
    color: var(--couleur-titre-pale);
    font-family: "Jersey 15";
    font-size: 3rem;
    margin:2rem;
  }

  &__textBut{
    border-radius: 20px;
    margin: 1.5rem;
    background: radial-gradient(63.25% 63.25% at 50% 50%, #172041 74.04%, #343b5570 100%);
    backdrop-filter: blur(3.75px);
    
    p{
      color: var(--couleur-texte-pale);
      font-family: "Bai Jamjuree";
      font-size: 1.5rem;
      margin: 2rem;
      padding: 1rem;
    }
  }
}

.profsPivots{
  
  h3{
    color: var(--couleur-titre-pale);
    font-family: "Jersey 15";
    font-size: 3rem;
    margin: 2rem;
    }
  &__profs{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;

      &__prof1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;

      &__img_prof1{
        margin: 0.5rem;
        width: 14rem;
        height: 15rem;
        flex-shrink: 0;
        background-color: #CCC;
        }
      &__infoProf1{
        width: 15rem;
        height: 15rem;

        border-radius: 20px;
        margin: 1.5rem;
        background: radial-gradient(63.25% 63.25% at 50% 50%, #172041 74.04%, #343b5570 100%);
        backdrop-filter: blur(3.75px);
      }
      p{
          margin:1rem;
          color:var(--couleur-texte-pale);
          font-family: "Bai Jamjuree";
        }
    }

    &__prof2{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem;

      &__img_prof2{
        margin: 0.5rem;
        width: 14rem;
        height: 15rem;
        flex-shrink: 0;
        background-color: #CCC;
      }
      &__infoProf2{
        width: 15rem;
        height: 15rem;

        border-radius: 20px;
        margin: 1.5rem;
        background: radial-gradient(63.25% 63.25% at 50% 50%, #172041 74.04%, #343b5570 100%);
        backdrop-filter: blur(3.75px);
        
        }
       p{
          margin:1rem;
          color:var(--couleur-texte-pale);
          font-family: "Bai Jamjuree";
          position: relative;
        } 
    }
  }

  
}

.liensApropos{

  h3{
    margin: -1rem;
    color: var(--couleur-titre-pale);
    font-family: "Jersey 15";
    font-size: 3rem;
  }

  &__listelinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1.5rem;
    list-style-type: none;
    :hover{
            color:aqua;
          }
    a{
      color: var(--couleur-texte-pale);
      font-family: "Bai Jamjuree";
      //font-size: 1rem;
      margin: 1rem;
    }
  }
}
