body{
  background: #090D20;
}

.titreApropos{
  color: --couleur-titre-pale;
  text-align: center;
  font-family: "Jersey 15";
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.infosaPropos{

  h3{
    color: var(--couleur-titre-pale);
    font-family: "Jersey 15";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__textBut{
    border-radius: 20px;
    margin: 1.5rem;
    background: radial-gradient(63.25% 63.25% at 50% 50%, #172041 74.04%, #343b5570 100%);
    backdrop-filter: blur(3.75px);
    
    p{
      color: var(--couleur-texte-pale);
      font-family: "Bai Jamjuree";
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 2rem;
      padding: 1rem;
    }
  }
}

.artistesAPropos{
  
  margin-top: 3rem;
  padding: 1.5rem;
  h3{
    color: var(--couleur-titre-pale);
    font-family: "Jersey 15";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
  &__artistes{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;

      &__artiste{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem;

      &__imgArtiste{
        margin: 0.5rem;
        width: 250px;
        height: 300px;
        flex-shrink: 0;
        background-color: #CCC;
        }
      &__infoArtiste{
        width: 250px;
        height: 300px;
        border-radius: 20px;
        margin: 1.5rem;
        background: radial-gradient(63.25% 63.25% at 50% 50%, #172041 74.04%, #343b5570 100%);
        backdrop-filter: blur(3.75px);
      }
      p{
          margin:1rem;
          color:var(--couleur-texte-pale);
          font-family: "Bai Jamjuree";
          font-size: 20px;
        }
    }

  }

  
}



