body{
    height: 100%;
    margin: 0;
    padding: 0;
    
    color: var(--couleur-texte-pale);
    background-color: var(--couleurBackground);
    font-family: var(--policeTexte);
    font-size: var(--font-size-md);
}

header{
    padding: 1em;
}

main{
    min-height: 100vh;
    padding: 2em;
}

h1{
    color: var(--couleur-titre-pale);
    font-family: var(--policeTitre);
    font-size: var(--font-size-large);
}