.interieur-entete{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  z-index: 9999;
}

.logo .logo-link{
  display:inline-block;
}

.barreRecherche input{
  flex:1;
  width: fit-content;
  background:transparent;
  border:none;
  outline:none;
  color:var(--couleur-texte-pale);
}

.iconeRecherche{
  color:var(--couleur-texte-pale);
  opacity:0.95;
}

@media (max-width:900px){
  .barreRecherche{
    width:70%;
  }

  .barreRecherche input{
    width:fit-content;
  }
  
  .logo{
    left:12px;
  }
}
