.acceuil__TextePrincipal{
  width: 50%;
}

.acceuil__TextePrincipal__Titre{
  width: 70%;
}

.galerieBoiteGenerale{
  width: 50%;
}

.titre { 
  position: relative; 
}

h2{
  line-height: 0;
}

.description-exposition-principale p{
  max-width: 540px;
  padding: 1.2rem 1.4rem;
  color: var(--couleur-texte-pale);
  border-radius: 6px;
  background: linear-gradient(90deg, #2A305A 0%, rgba(5, 7, 20, 0.1) 100%);
}

.effet-titre{
  margin-top: 10px;
  width: 100%;
}

.description-exposition-principale{
    padding-top: 50px;
}

@media screen and (max-width: 600px) {
  .effet-titre{
    top: 100px;
  }

  .acceuil__TextePrincipal{
    width: 100%;
  }

  .acceuil__TextePrincipal__Titre{
    width: 100%;
  }

  .galerieBoiteGenerale{
    width: 100%;
    height: 35%;
  }

  .acceuil__TextePrincipal__Titre h1{
    font-size: clamp(5rem, 10vw + 5rem, 10rem);
  }
}

