.acceuil__TextePrincipal__Titre{
  width: 50%;
}

.galerieBoiteGenerale{
  width: 50%;
}

.titre h1{
  color: var(--couleur-titre-pale);
  font-family: var(--policeTitre);
  font-size: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);
  line-height: 0.9;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.titre { 
  position: relative; 
}

h2{
  line-height: 0;
}

.description-exposition-principale p{
  max-width: 540px;
  padding: 1.2rem 1.4rem;
  color: var(--couleur-texte-pale);
  border-radius: 6px;
  background: linear-gradient(90deg, #2A305A 0%, rgba(5, 7, 20, 0.1) 100%);
}

.effet-titre{
    width: 446px;
}

.effet-titre-deux{
    width: 446px;
}

.description-exposition-principale{
    padding-top: 50px;
}

@media (max-width:900px){
  .effet-titre{
    top: 100px;
}

  .effet-titre-deux{
    top: 155px;
  }
}