/* ----------------------------------------------
VARIABLES COULEURS GÉNÉRALES 
-------------------------------------------------*/
/* Polices */
:root{
    --policeTitre: "Jersey 15", sans-serif ;    /* La police des titres du site web */
    --policeTexte: "Bai Jamjuree", sans-serif;    /* La police des textes du site web */

    /* couleurs des polices */
    --couleur-titre-pale: #FFFFFF; /* Couleur des titres généraux du site */
    --couleur-texte-pale: #FFFFFF;
    --couleur-texte-sous-titre: #c0c0c0;  /* Couleur du texte d'information du site */

    --font-size-xs: 0.75rem;
    --font-size-small:0.875rem;
    --font-size-md: 1rem;
    --font-size-large: 1.25rem;
    --font-size-xl: 1.5rem;

}

/* Couleurs globales */
:root{
    --couleurBackground: #0B0E21; /* Couleur d'arrière-plan du site */
    
    --couleurGradientBlueViolet: linear-gradient(90deg, #d26eff, #58b5ff) ; /* Première couleur d'accent du site */
    --couleurGradientBlueFonce: radial-gradient(50% 50% at 50% 50%, #0e1431 0%, #12193c 100%) ; /* Deuxième couleur d'accent du site */
    --couleurCrochets: #5C68B5;
    --couleurBordure : #2A336C;
    



    --couleurAccentJaune:linear-gradient(#FFF600,#FFAE00) ; /* Troisième couleur d'accent du site */
    --couleurBoiteGrise: linear-gradient(#302F2F,#000000) ; /* Couleur gradient de boîtes d'information */
}


/* -------------------------------------------------
STRUCTURE DU SITE
---------------------------------------------------- */

/* Header */
:root{
    /* --header-couleur-bg: */
    --header-couleur-texte: var(var(--couleur-texte-pale));
    --header-font-size: var(var(--font-size-large));
    --barreRecherche-couleur-texte: var(var(--couleur-texte-pale));
    --barreRecherche-couleur-bg: var(var(--couleurBoiteGrise));
    --barreRecherche-couleur-icone: var(var(--couleurGradientBlueViolet));

}

/* Navigation */
:root{
    --nav-couleur-texte:var(var(--couleur-texte-pale));
    --nav-font-size: var(var(--font-size-large));
    --nav-couleur-bg:var(var(--couleurBackground));
}

/* Galerie */

:root{
    --galerie-projet-bordure-arcade:linear-gradient(270deg, #78aeff 0%, #77e8ff 100%);
    --galerie-projet-bordure-finissants:linear-gradient(270deg, #7C96FF 0%, #A470FF 100%);
    --galerie-projet-bordure-graphisme:linear-gradient(270deg, #AD7EFF 0%, #FF7DFD 100%);
    --galerie-filter-btn-texte: #ccc;
    --galerie-filter-btn-texte-active: #0e153a;
    --galerie-dropdown-select-couleur: linear-gradient(#0e1431, #0e1431);
    --galerie-dropdown-select-hover-couleur: linear-gradient(#212a56, #212a56);
    --galerie-dropdown-menu-li-texte: #95a1d8;
    --galerie-dropdown-menu-li-hover: #1b2352;
    --galerie-caret-color: #fff;
}


/* Footer */
:root{
    --footer-couleur-bg: var(var(--couleurBackground));
    --footer-couleur-texte: var(var(--couleur-texte-pale));
    --footer-font-size: var(var(--font-size-md));
}

/*-------------------------------------------------
DESIGN
-------------------------------------------------*/

:root{
    /* NE FONCTIONNE PAS LORS DE L'UTILISATION */
    --couleurGradientBlueViolet: 3px var(--couleurGradientBlueViolet, 0.4) ; 
    --couleurGradientBlueFonce: 3px var(--couleurGradientBlueFonce, 0.4) ;
    --boxShadowAccentJaune: 3px var(--couleurAccentJaune, 0.4) ;
}


.barreRecherche{
    /* Couleur de la barre de recherche */
    /*background-color: var(--couleurAccentRouge); */
    color: var(--couleurBackground);
    /* Forme de la barre de recherche */
    height: 25px;
    border-radius: 5px;
    /* NE FONCTIONNE PAS */
    box-shadow: var(--couleurGradientBlueFonce);
}

.menuBoiteGlobale{
    background-color: var(--couleurAccentJaune);
}

.boutonNoir{
    background-color: var(--couleurBackground);
    padding: 1.5rem;
}

.boutonCouleur{
    background-color: var(--couleurGradientBlueViolet);
}



/*-------------------------------------------------
MÉDIAS
---------------------------------------------------*/

.iconeLogo{
    
}

.iconeRecherche{

}

.iconeMenuBurger{

}

/* -------------------------------------------------
ANIMATIONS
---------------------------------------------------*/

