body{
    height: 100%;
    color: var(--couleur-texte-pale);
    background-color: var(--couleurBackground);
    font-family: var(--policeTexte);
    font-size: var(--font-size-md);
}

main{
    height: 1080px;
    padding: 2em;
    position: relative;
    z-index: 2;
}

h1{
    color: var(--couleur-titre-pale);
    font-family: var(--policeTitre);
    font-size: var(--font-size-large);
}

.logo{
    cursor: pointer;
}

.menuBoiteGlobale{
    cursor: pointer;
}
