body{
    height: 100%;
    margin: 0;
    padding: 0;
    
    color: var(--couleur-texte-pale);
    background-color: var(--couleurBackground);
    font-family: var(--policeTexte);
    font-size: var(--font-size-md);
}

header{
    padding: 1em;
}

main{
    height: 100vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

h1{
    color: var(--couleur-titre-pale);
    font-family: var(--policeTitre);
    font-size: var(--font-size-large);
}

.logo{
    cursor: pointer;
}

.menuBoiteGlobale{
    cursor: pointer;
}

@media screen and (min-width:701px) and (max-width:900px)  {
    main {
        height: 100vh;
        padding-top: 4vh;
    }
}

@media screen and (min-width:500px) and (max-width: 700px) {
    main {
        height: 100vh;
    }
}

@media screen and (min-width:400px) and (max-width: 490px) {
    main {
        height: 75vh;
    }
}

